<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:locale" content="{{ site.lang | default: "en_US" }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
    <meta property="og:description" content="{{ page.title }}" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="icon" href="/assets/img/favicon/favicon.ico">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/override.css' | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <img id="web-main-icon" src="/assets/img/logo-nobg.png" alt="Beringin MNH48" class="project-name" style="width:200px" />
      {% if page.title %}
      <h1 id="web-title" class="project-name">Beringin MNH48</h1>
      <h2 id="page-title" class="project-tagline">{{ page.title }}</h2>
      {% else %}
      <h1 id="web-title" class="project-name">Beringin MNH48</h1>
      <h2 id="page-title" class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% endif %}
      {% comment %}
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      {% endcomment %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <a href="#web-main-icon" class="backtotop">↑</a>
      <footer class="site-footer">
        <span class="site-footer-owner">&copy; Beringin MNH48 2020.</span>
        <span class="site-footer-credits">The source of this website is on <a href="https://github.com/beringin-mnh48/beringin-mnh48.github.io">GitHub</a> and maintained by the organization <a href="https://github.com/beringin-mnh48">Beringin MNH48</a>.</span>
      </footer>
    </main>
  </body>
</html>
